

<div id="f">
  <div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-black"
  style="background-image: url('/images/st.jpg'); background-repeat: no-repeat;background-size: 100%; width:100%;height:90vh; "
>


<br>
 <div id="lef"><br>
        <form action="/corporate" method="post">
        <label for="Full Name">* Full Name</label><br>
        <input type="text" name="fname" placeholder=" Name"> <br><br>
        <label for="Company email">* Company Email</label>  <br> 
        <input type="text" name="email" placeholder="Company Email"><br><br>
        <label for="Company Nmae">Company Name</label><br>
        <input type="text" name="cname" placeholder="Company Name"><br><br>
        <label for="Mobile Number">Mobile Number</label><br>
        <input type="text" name="phone" placeholder="eg:9154xxxxxx"><br><br>
        <button type="submit" class="hj">Received a callback </button>
        </form>
        </div>
        <div id="ft">
            <h1>Entertainment you can gift</h1><br>
            <h5>A variety of solution to skyrocket your business with vouchers,<br>
            promotion,loyalty,employee recognition & rewards.
            </h5>

</div></div>
<div id="sec">
<div class="val"><div id="ta"> <h5>WHAT'S IN IT FOR YOU</h5><br>
<h1>Brand Promotions</h1><br>
<p>Gifting entertainment is a fun way to push your brand's message.<br>And the ways you can use vouchers are endless.For example,<br>upselling celebrity-endorsed products times with a movie<br>release.</p>
<br>
<button type="submit" class="bt">Promote your brand</button></div></div>
<div class="right"><img src="/images/l1.avif" alt="/" style="width: 100%;height:500px;"></div>

<br>

<div class="val"><img src="/images/l2.avif" alt="/" style="width: 100%;height:500px;"></div>
<div class="right"><div id="ta"> <h1>Employee Engagement<br>Recognition & Rewards</h1><br><p>Show your clients and employees some appreciation by gifting<br>them our products.</p><br>
<button type="button" class="bt">ENgage your employees</button></div></div>

<br><br><br>
<div class="val"><div id="ta"> <h1>Lead Generation</h1><br><p>Get positive referrals, keep existing customer and trigger<br>change management.</p><br>
<button type="button" class="bt">Improve leads</button></div></div>
<div class="right"><img src="/images/l3.avif" alt="/" style="width: 100%;height:500px;"></div>
<br><br>

<div class="val"> <img src="/images/l4.avif" alt="/" style="width: 100%;height:500px;"></div>
<div class="right"><div id="ta"><h1>Loyalty</h1><br><p>Keep customers firmly in your corner by rewarding them with <br>promotional vouchers.</p><br>
<button type="button" class="bt">Retain your customers</button></div></div>
<br><br>

<div class="val"><div id="ta"> <h1>Corporate Gifting</h1><br><p>Form sand-up comedy and suporting activities to moves <br>and plays, we've got all the entertainment worth gifting to your<br>patrons.</p><br>
<button type="button" class="bt">Explore solutions</button></div></div>
<div class="right"><img src="/images/l5.avif" alt="/" style="width: 100%;height:500px;"></div>
<br><br>

</div>

</div>