<div id="left" style="width: 20%;height:;float:left;">
  <div class="">
    <select  class="form" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Date</option>
  <option value="1">Today</option>
  <option value="2">Tomorrow</option>
  <option value="3">This Weekend</option>
</select></div><br><br>
    <select class="form" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Languages</option>
  <option value="1">English</option>
  <option value="2">Tamil</option>
  <option value="3">Hindi</option>
  <option value="4">Malayalam</option>
  <option value="5">Kannada</option>
  <option value="6">Telugu</option>
</select>
<br><br>
    <select  class="form" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Categories</option>
  <option value="1">Workshop</option>
  <option value="2">Comedy Show</option>
  <option value="3">Music Shows</option>
  <option value="4">Kids</option>
  <option value="5">Spirituality</option>
  <option value="6">Meetups</option>
  <option value="7">Online Straming Events</option>
</select>
<br><br>
    <select  class="form" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>More Filters</option>
  <option value="1">Outdoor Events</option>
  <option value="2">Online Streaming</option>
  <option value="3">Fast Filling</option>
  <option value="4">Kids Allowed</option>
  <option value="5">Must Attend</option>
  <option value="6">Unmissible Events</option>
</select>
<br><br>
    <select  class="form" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Price</option>
  <option value="1">Free</option>
  <option value="2">0-500</option>
  <option value="3">501-2000</option>
  <option value="4">Above 2000</option>
</select>
</div>

<div id="cf">
  <div id="right" style="width: 80%;height:800px;float:right">
<div class="container-fluid">
  <h3>The Latest Play</h3><br>
  <div class="row">
    <div class="col align-self-start">
    <div class="thumbnail">
        <a href="#" target="_blank">
          <img src="/images/vikkals.jpg" alt="Lights" style="width:100%;height: 350px;border-radius:10px;">
          <div class="caption">
            <p style="color: black;">Vikkals of Vikram</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/abishek.jpg" target="_blank">
          <img src="/images/abishek.jpg" alt="Lights" style="width:100%;height: 350px;;border-radius:10px;">
          <div class="caption">
            <p style="color: black;">Abishek Upmanyu LIVE<br>- Chennai</p>
          </div>
        </a>
      </div>
    </div>
       <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/band.jpg" target="_blank">
          <img src="/images/band.jpg" alt="Lights" style="width:100%;height: 350px;border-radius:10px;">
          <div class="caption">
            <p style="color: black;"><br>Bandland</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col align-self-end">
      <div class="thumbnail">
        <a href="/images/madras.jpg" target="_blank">
          <img src="/images/madras.jpg" alt="Lights" style="width:100%;height: 350px;border-radius:10px;">
          <div class="caption">
            <p style="color: black;">MADRAS COMEDY<br>SHOW
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="container-fluid">
  <h3>The Latest Play</h3><br>
  <div class="row">
    <div class="col align-self-start">
    <div class="thumbnail">
        <a href="#" target="_blank">
          <img src="/images/guna.jpg" alt="Lights" style="width:100%;height: 350px;border-radius:10px;">
          <div class="caption">
            <p style="color: black;">GUNA SAI LIVE - A TAMIL STANDUP COMEDY SHOW</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/images (2).jpg" target="_blank">
          <img src="/images/sunburn.jpg" alt="Lights" style="width:100%;height: 350px;border-radius:10px;">
          <div class="caption">
            <p style="color: black;">Sunburn Arena Ft. Dimitri <br>Vegas &like Mike-Chennai</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col align-self-end">
      <div class="thumbnail">
        <a href="/images/tiger.jpg" target="_blank">
          <img src="/images/ed.jpg" alt="Lights" style="width:100%;height: 350px;;border-radius:10px;">
          <div class="caption">
            <p style="color: black;"><br>Ed Sheeran:+-=%* Tour</p>
          </div>
        </a>
      </div>
    </div>
           <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/images (2).jpg" target="_blank">
          <img src="/images/katrin.jpg" alt="Lights" style="width:100%;height: 350px;border-radius:10px;">
          <div class="caption">
            <p style="color: black;">Kaatrin Mozhi - Live In<br>
            Concert</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="container-fluid">
  <h3>The Latest Play</h3><br>
  <div class="row">
    <div class="col align-self-start">
    <div class="thumbnail">
        <a href="/images/images (2).jpg" target="_blank">
          <img src="/images/joking.jpg" alt="Lights" style="width:100%;height: 350px;border-radius:10px;">
          <div class="caption">
            <p style="color: black;">FIT FOR JOKING</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/images (2).jpg" target="_blank">
          <img src="/images/bang.jpg" alt="Lights" style="width:100%;height: 350px;;border-radius:10px;">
          <div class="caption">
            <p style="color: black;">Bangalore Open<br>- Air 2024</p>
          </div>
        </a>
      </div>
    </div>
       <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/images (2).jpg" target="_blank">
          <img src="/images/oru.jpg" alt="Lights" style="width:100%;height: 350px;border-radius:10px;">
          <div class="caption">
            <p style="color: black;"><br>Oru Naal Koothu</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col align-self-end">
      <div class="thumbnail">
        <a href="/images/tiger.jpg" target="_blank">
          <img src="/images/label.jpg" alt="Lights" style="width:100%;height: 350px;border-radius:10px;">
          <div class="caption">
            <p style="color: black;">GUNA LABEL - A Tamil<br>Standup Comedy show
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>

  </div>