<div class="container-fluid">
  <h3>Primer of the week</h3><br>
  <div class="row">
    <div class="col align-self-start">
    <div class="thumbnail">
        <a href="/images/india.jpg" target="_blank">
          <img src="/images/a.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/wonder.jpg" target="_blank">
          <img src="/images/b.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
       <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/chai.jpg" target="_blank">
          <img src="/images/c.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
           <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/identify.jpg" target="_blank">
          <img src="/images/d.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>

    <div class="col align-self-end">
      <div class="thumbnail">
        <a href="/images/sun.jpg" target="_blank">
          <img src="/images/f.avif" alt="Lights" style="width:100%;height:350px;border-radius:10px;">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
  </div><br><br><br>
  <h3>Upcoming Releases</h3>
<div class="row">
    <div class="col align-self-start">
    <div class="thumbnail">
        <a href="/images/india.jpg" target="_blank">
          <img src="/images/g.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/wonder.jpg" target="_blank">
          <img src="/images/h.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
          
          </div>
        </a>
      </div>
    </div>
       <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/chai.jpg" target="_blank">
          <img src="/images/i.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
         
          </div>
        </a>
      </div>
    </div>
           <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/identify.jpg" target="_blank">
          <img src="/images/j.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
         
          </div>
        </a>
      </div>
    </div>

    <div class="col align-self-end">
      <div class="thumbnail">
        <a href="/images/sun.jpg" target="_blank">
          <img src="/images/k.avif" alt="Lights" style="width:100%;height:350px;border-radius:10px;">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
  </div>
<br><br><br>
  <div class="container-fluid" style="background-color:rgb(109, 109, 109)">
    <h3 style="color: aliceblue;">Top 10 TV Shows</h3>

  <div class="row">
    <div class="col align-self-start">
    <div class="thumbnail">
        <a href="/images/the.jpg" target="_blank">
          <img src="/images/l.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
        
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/night.jpg" target="_blank">
          <img src="/images/m.avif" alt="Lights" style="width:100%;height:330px;;border-radius:10px;">
          <div class="caption">
        
          </div>
        </a>
      </div>
    </div>
     <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/gf.jpg" target="_blank">
          <img src="/images/n.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
        
          </div>
        </a>
      </div>
    </div>
       <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/ban.jpg" target="_blank">
          <img src="/images/o.avif" alt="Lights" style="width:100%;height:330px;border-radius:10px;">
          <div class="caption">
          
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-end">
      <div class="thumbnail">
        <a href="/images/terror.jpg" target="_blank">
          <img src="/images/q.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
  </div>
</div></div>
<br><br><br>

<div class="container-fluid">
  <h3>Monthly Offer - Rent At 29/- Only</h3><br>
  <div class="row">
    <div class="col align-self-start">
    <div class="thumbnail">
        <a href="/images/man.jpg" target="_blank">
          <img src="/images/s.avif" alt="Lights" style="width:100%;height:350px;border-radius:10px;">
          <div class="caption">
         
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/bloody.jpg" target="_blank">
          <img src="/images/t.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
          
          </div>
        </a>
      </div>
    </div>
     <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/rahul.jpg" target="_blank">
          <img src="/images/u.avif" alt="Lights" style="width:100%;height:350px;border-radius:10px;">
          <div class="caption">
          
          </div>
        </a>
      </div>
    </div>
       <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/praveen.jpg" target="_blank">
          <img src="/images/v.avif" alt="Lights" style="width:100%;height:350px;border-radius:10px;">
          <div class="caption">
          
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-end">
      <div class="thumbnail">
        <a href="/images/mind.jpg" target="_blank">
          <img src="/images/w.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
  </div>
</div><br><br>


<div class="container-fluid">
  <h3>Free Movie For You</h3><br>
  <div class="row">
    <div class="col align-self-start">
    <div class="thumbnail">
        <a href="/images/mumbai.jpg" target="_blank">
          <img src="/images/x.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/jokes.jpg" target="_blank">
          <img src="/images/y.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
     <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/chen.jpg" target="_blank">
          <img src="/images/z.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
       <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/speed.jpg" target="_blank">
          <img src="/images/aa.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-end">
      <div class="thumbnail">
        <a href="#" target="_blank">
          <img src="/images/bb.avif" alt="Lights" style="width:100%;height:100%;;border-radius:10px;">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<br><br>
<div class="container-fluid">
  <h3>Free Movie For You</h3><br>
  <div class="row">
    <div class="col align-self-start">
    <div class="thumbnail">
        <a href="/images/mumbai.jpg" target="_blank">
          <img src="/images/hh.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/jokes.jpg" target="_blank">
          <img src="/images/cc.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
     <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/chen.jpg" target="_blank">
          <img src="/images/gg.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
       <div class="col align-self-center">
      <div class="thumbnail">
        <a href="/images/speed.jpg" target="_blank">
          <img src="/images/ee.avif" alt="Lights" style="width:100%;height:100%;border-radius:10px;">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
    <div class="col align-self-end">
      <div class="thumbnail">
        <a href="#" target="_blank">
          <img src="/images/ff.avif" alt="Lights" style="width:100%;height:100%;;border-radius:10px;">
          <div class="caption">

          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<br>